# User-specific files
Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.zip
*.xap
*.lib
*.sbr
*.orig
*.txt
*.xml
*.TTF

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Pp]ackages/
SoaService/
Publish/

_ReSharper*/
[Tt]est[Rr]esult*
.gitignore.*
Plugins/*.config
.vs/config/applicationhost.config
